.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.search-form{
  max-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.search-item{
  width: 50%;
  padding:10px;
  border: none;
}
.search-button{
  color: black;
  background-color: grey;
  padding: 10px 20px;
  margin-left:10px;
  border:none;
  font-size: 15px;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  margin:20px 20px
}
